apiVersion: apps/v1
kind: Deployment
metadata:
  name: "prometheus-exporter-{{ type }}-{{ meta.name }}"
  namespace: "{{ meta.namespace }}"
  labels:
    prometheus_exporter: "{{ meta.name }}"
    prometheus_exporter_type: "{{ type }}"
    app: "prometheus-exporter-{{ type }}-{{ meta.name }}"
{% if extra_label.key is defined and extra_label.value is defined %}
    {{ extra_label.key }}: "{{ extra_label.value }}"
{% endif %}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "prometheus-exporter-{{ type }}-{{ meta.name }}"
  template:
    metadata:
      labels:
        prometheus_exporter: "{{ meta.name }}"
        prometheus_exporter_type: "{{ type }}"
        app: "prometheus-exporter-{{ type }}-{{ meta.name }}"
{% if extra_label.key is defined and extra_label.value is defined %}
        {{ extra_label.key }}: "{{ extra_label.value }}"
{% endif %}
    spec:
      containers:
        - name: "prometheus-exporter-{{ type }}-{{ meta.name }}"
          image: "{{ image.name | default(image_name) }}:{{ image.version | default(image_version) }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: metrics
              containerPort: {{ port }}
              protocol: TCP
{% if type == "memcached" %}
          args:
            - "--memcached.address={{ db_host }}:{{ db_port }}"
{% elif type == "redis" %}
          env:
            - name: REDIS_ADDR
              value: "{{ db_host }}:{{ db_port }}"
{% if db_check_keys is defined %}
            - name: REDIS_EXPORTER_CHECK_KEYS
              value: "{{ db_check_keys }}"
{% endif %}
{% elif type == "mysql" %}
          env:
            - name: DATA_SOURCE_NAME
              valueFrom:
                secretKeyRef:
                  name: "{{ db_connection_string_secret_name }}"
                  key: DATA_SOURCE_NAME
{% elif type == "postgresql" %}
          env:
            - name: DATA_SOURCE_NAME
              valueFrom:
                secretKeyRef:
                  name: "{{ db_connection_string_secret_name }}"
                  key: DATA_SOURCE_NAME
{% elif type == "sphinx" %}
          args:
            - "--sphinx.address={{ db_host }}"
            - "--sphinx.port={{ db_port }}"
{% elif type == "es" %}
          command:
            - "/bin/elasticsearch_exporter"
            - "--es.uri={{ db_host }}:{{ db_port }}"
            - "--es.all"
{% elif type == "cloudwatch" %}
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: "{{ aws_credentials_secret_name }}"
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ aws_credentials_secret_name }}"
                  key: AWS_SECRET_ACCESS_KEY
          volumeMounts:
            - mountPath: /config/
              name: config-volume
              readOnly: true
{% elif type == "probe" %}
          args:
            - --config.file=/etc/blackbox_exporter/config.yml
            - --log.level=debug
          volumeMounts:
            - mountPath: /etc/blackbox_exporter
              name: config-volume
              readOnly: true
{% endif %}
          livenessProbe:
            tcpSocket:
              port: metrics
            timeoutSeconds: {{ liveness_probe.timeout_seconds | default(liveness_probe_timeout_seconds) }}
            periodSeconds: {{ liveness_probe.period_seconds | default (liveness_probe_period_seconds) }}
            successThreshold: {{ liveness_probe.success_threshold | default(liveness_probe_success_threshold) }}
            failureThreshold: {{ liveness_probe.failure_threshold | default(liveness_probe_failure_threshold) }}
          readinessProbe:
            tcpSocket:
              port: metrics
            timeoutSeconds: {{ readiness_probe.timeout_seconds | default(readiness_probe_timeout_seconds) }}
            periodSeconds: {{ readiness_probe.period_seconds | default(readiness_probe_period_seconds) }}
            successThreshold: {{ readiness_probe.success_threshold | default(readiness_probe_success_threshold) }}
            failureThreshold: {{ readiness_probe.failure_threshold | default(readiness_probe_failure_threshold) }}
          resources:
            limits:
              cpu: "{{ resources.limits.cpu | default(resources_limits_cpu) }}"
              memory: "{{ resources.limits.memory | default(resources_limits_memory) }}"
            requests:
              cpu: "{{ resources.requests.cpu | default(resources_requests_cpu) }}"
              memory: "{{ resources.requests.memory | default(resources_requests_memory) }}"
{% if type == "cloudwatch" %}
      volumes:
      - name: config-volume
        configMap:
          name: "{{ configuration_configmap_name }}"
          items:
          - key: config.yml
            path: config.yml
{% elif type == "probe" %}
      volumes:
      - name: config-volume
        configMap:
          name: "{{ configuration_configmap_name }}"
          items:
          - key: config.yml
            path: config.yml
{% endif %}
