apiVersion: integreatly.org/v1alpha1
kind: GrafanaDashboard
metadata:
  name: "prometheus-exporter-{{ type }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    prometheus_exporter_type: "{{ type }}"
    "{{ grafana_dashboard.label.key | default(grafana_dashboard_label_key) }}": "{{ grafana_dashboard.label.value | default(grafana_dashboard_label_value) }}"
spec:
  name: "{{ ansible_operator_meta.namespace }}-prometheus-exporter-{{ type }}.json"
  json: >
{## <grafana_dashboard> ##}
{%  filter indent(4, True) %}
{%  include "exporters/"+type+"/grafanadashboard.json.j2" %}
{%  endfilter %}
{## <grafana_dashboard> ##}