apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: "prometheus-exporter-{{ type }}-{{ meta.name }}"
  namespace: "{{ meta.namespace }}"
  labels:
    prometheus_exporter: "{{ meta.name }}"
    prometheus_exporter_type: "{{ type }}"
    app: "prometheus-exporter-{{ type }}-{{ meta.name }}"
{% if extra_label.key is defined and extra_label.value is defined %}
    {{ extra_label.key }}: "{{ extra_label.value }}"
{% endif %}
spec:
  selector:
    matchLabels:
      app: "prometheus-exporter-{{ type }}-{{ meta.name }}"
  endpoints:
  - interval: {{ service_monitor.interval | default (service_monitor_interval) }}
    port: metrics
    path: /metrics
    relabelings:
    - sourceLabels: [__meta_kubernetes_service_label_prometheus_exporter]
      targetLabel: prometheus_exporter
    - sourceLabels: [__meta_kubernetes_service_label_prometheus_exporter_type]
      targetLabel: prometheus_exporter_type
