apiVersion: v1
kind: Service
metadata:
  name: "prometheus-exporter-{{ type }}-{{ meta.name }}"
  namespace: "{{ meta.namespace }}"
  labels:
    prometheus_exporter: "{{ meta.name }}"
    prometheus_exporter_type: "{{ type }}"
    app: "prometheus-exporter-{{ type }}-{{ meta.name }}"
{% if label_custom_key is defined %}
    {{ label_custom_key }}: "{{ label_custom_value }}"
{% endif %}
spec:
  ports:
    - name: metrics
      port: {{ prometheus_exporter_port }}
      targetPort: {{ prometheus_exporter_port }}
  selector:
    app: "prometheus-exporter-{{ type }}-{{ meta.name }}"
  type: ClusterIP
